.footer {
  background: $color-dark;

  &-sections {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  &-section {
    width: 200px;
    margin: 0 auto;

    &__title {
      color: antiquewhite;
      padding-bottom: 10px;
      padding-top: 40px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
    }
  }

  &__copyright {
    padding: 20px;
    border-top: 1px solid #444444;
    color: aliceblue;
  }
}
