.header {
  display: flex;
  width: 100%;
  height: 70px;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
  background: $color-primary-light;
  box-shadow: 0 0 5px #919191;

  &__logo {
    img {
      width: 80px;
    }
  }

  &-menu {
    &__item {
      margin: 0 20px;
      color: $color-dark;
      font-size: 1.2em;
    }
  }

  &-account {
    &__item {
      margin: 0 10px;
      color: $color-dark;
      font-size: 1.2em;
    }
  }
}
