.sidebar {
    background: $color-gray-75;
    position: relative;
    height: 100vh;
    width: 260px;
    box-shadow: 0 5px 10px $color-gray-75;

    &__menu {
        position: absolute !important;
        right: 5px;
        top: 5px;
    }

    &-head {
        display: flex;
        margin: 21px;
        justify-content: flex-start;
        align-items: center;
        color: $color-primary;
        letter-spacing: 2px;

        &__icon {height: 20px;margin-right: 10px;}
    }

    &-options{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden !important;

        &__link{
            color: $color-white;
            margin: 3px 0;
            margin-left: 15px;
            padding: 10px 20px;
            overflow: hidden !important;
            transition: .5s;
        }

        &__link:hover {
            color: $color-primary-light;
            padding: 10px 30px;
            background-color: $color-gray-75;
        }

        &__icon{
            margin-right: 15px;
        }
    }
}

.active-sidebar {
    color: $color-primary-light !important;
    background-color: $color-gray-75;
    border-right: 6px solid $color-primary;
}
