.sidebar {
    background: $color-gray-75;
    width: 260px;
    height: 100vh;

    &__title {
        color:#eee;
        margin-top: 20px;
        text-align: center;
    }

    &-options{
        color: #D9D9D9;
        width: 100%;
        display: flex;
        flex-direction: column;

        &__link{
            color: $color-white;
            margin-left: 15px;
            padding: 10px;
        }

        &__link:hover{
            color: #BCD5FF;
            background-color: $color-gray-95;
            border-radius: 25px 0;
        }

        &__icon{
            margin-right: 15px;
        }
    }

}
